<div class="center-container">
  <h1> User profile </h1>
</div>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, style: "width: 60px; height: 60px;" %>
<% end %>

<% if @user != current_user %>
  <% if current_user.following?(@user) %>
    <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
                  url: user_relationship_path(@user, current_user.active_relationships.find_by(followed_id: @user.id)),
                  method: :delete, local: true) do |f| %>
      <%= f.submit "Unfollow", class: "btn btn-danger" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_relationships.build(followed_id: @user.id),
                  url: user_relationships_path(@user), local: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "Follow", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>


<div class="profile-info">
  <div class="profile-column">
    <h2> About me:</h2>
    <ul>
      <li> <strong> Username:</strong> <%= @user.username %> </li>
      <li> <strong> Bio:</strong> <%= @user.bio %> </li>
      <li> <strong> Email:</strong> <%= @user.email %> </li>
    </ul>
  </div>
  <div class="profile-column">
    <h2> <%= @following_users.count %> Following </h2>
    <ul>
      <% @following_users.each do |user| %>
        <li> <%= link_to user.username, user_path(user) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="profile-column">
    <h2> <%= @followers.count %> Followers </h2>
    <ul>
      <% @followers.each do |user| %>
        <li> <%= link_to user.username, user_path(user) %> </li>
      <% end %>
    </ul>
  </div>
</div>

<h2> Posts:</h2>
<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p> No posts available. </p>
<% end %>


