<div class="col-12 col-md-6 col-xl-4" style="margin: auto;">
<div class="form-container">


<%= form_with(model: post) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class:"form-control" %>
  <% if post.errors[:title].any? %>
    <div style="color: red">
    <%= post.errors.full_messages_for(:title).join(". ") %>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control" %>
  <% if post.errors[:description].any? %>
    <div style="color: red">
    <%= post.errors.full_messages_for(:description).join(". ") %>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.label :files %>
    <%= form.file_field :files, multiple: true %>
  </div>

  <div>
    <%= form.text_field :user_id, type: "hidden", value: current_user.id %>

  <div>
    <%= form.submit class: "btn btn-primary col-12" %>
  </div>
<% end %>
</div>
</div>