<div id="<%= dom_id(post) %>" class="post-container">
  <div class="center-text">
    <div class="image-carousel">
      <div class="carousel-container">
        <p>
          <%= post.description %>
        </p>
        <% if post.files.attached? %>
          <% post.files.each_with_index do |file, index| %>
            <%= image_tag url_for(file), class: "carousel-image", data: { index: index }, style: "display: #{'block' if index == 0};" %>
          <% end %>
        <% end %>
        <div class="carousel-counter">
          <p>Zdjęcie <span id="current-image">1</span> z <%= post.files.count %></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= post.created_at.in_time_zone('Europe/Warsaw').strftime("%H:%M, %d-%m-%Y") %>
  <p>
  <%= link_to " ", post, class: "post-link" %>
  </p>

</div>


