<div id="<%= dom_id(post) %>", class="post-container">

<div class="center-text">

  <% if post.files.attached? %>
    <% post.files.each do |file| %>
      <%= image_tag(file, style: "object_file: cover; width: 200px; height: 300px;") %>
    <% end %>
  <% end %>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= link_to " ", post, class: "post-link" %>
  </p>

  <%= post.created_at.in_time_zone('Europe/Warsaw').strftime("%H:%M, %d-%m-%Y") %>

</div>

</div>


