<div id="<%= dom_id(post) %>", class="post-container">

<div class="center-text">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>

  <p>
    <%= link_to " ", post, class: "post-link" %>
  </p>
</div>

</div>

