<div class="center-container">
  <h1> <%= @post.title %> </h1>
</div>

  <p>
    <h6>
      <strong>User: </strong>
      <%= link_to @user.username, user_path(@user) %>
    </h6>
  </p>


<div id="<%= dom_id(@post) %>" class="post-container">
  <div class="center-text">
    <% if @post.files.attached? %>
      <% @post.files.each do |file| %>
        <%= image_tag(file, style: "object-fit: cover; width: 200px; height: 300px;", class: "post-image", data: { file_url: url_for(file) }) %>
      <% end %>
    <% end %>
  </div>

    <p>
      <%= @post.description %>
    </p>

    <%= @post.created_at.in_time_zone('Europe/Warsaw').strftime("%H:%M, %d-%m-%Y") %>

    <!-- Modal -->
    <div id="image-modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal-image">
    </div>
</div>


<div class="text-center">
  <% if user_signed_in? %>
    <% if current_user != @post.user %>
      <% like = current_user.likes.find_by(post: @post) %>
      <% if like.nil? %>
        <%= button_to "Like", post_likes_path(@post), params: { like: { post_id: @post.id } }, method: :post, class: "btn btn-primary col-2" %>
      <% else %>
        <%= button_to "Unlike", post_like_path(@post, like), method: :delete, class: "btn btn-primary col-2" %>
      <% end %>
    <% else %>
      <p> You cannot like your own post. </p>
    <% end %>
  <% end %>

<p> <%= @post.likes.count %> Likes </p>
</div>

</br>
<p> <%= link_to "Back to posts", posts_path %> </p>

<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <div>
      <p> <%= link_to "Edit this post", edit_post_path(@post) %> </p>
      <p> <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-primary col-2" %> </p>
    </div>
  <% end %>
<% end %>


</br>

<h2> Create comment </h2>

<%= render 'comments/form', post: @post, comment: @comment %>

</br>

<h3>All comments</h3>

<% @post.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <% if comment.user == current_user %>
    <% if comment.id.present? %>
      <%= button_to "Delete", post_comment_path(@post, comment), method: :delete %>
    <% end %>
  <% end %>
<% end %>
