<div class="center-container">
  <h1> <%= @post.title %> </h1>
</div>

  <p>
    <h6>
      <strong>User: </strong>
      <%= link_to @user.username, user_path(@user) %>
    </h6>
  </p>


<div id="<%= dom_id(@post) %>" class="post-container">
  <div class="center-text">
    <% if @post.files.attached? %>
      <% @post.files.each_with_index do |file, index| %>
        <div class="image-container" style="margin-bottom: 10px;">
          <%= image_tag(file, style: "object-fit: cover; width: 200px; height: 300px;", class: "post-image", data: { file_url: url_for(file) }) %>
          <p>Zdjęcie <%= index + 1 %> z <%= @post.files.count %></p>
        </div>
      <% end %>
    <% end %>
  </div>

    <p>
      <%= @post.description %>
    </p>

    <%= @post.created_at.in_time_zone('Europe/Warsaw').strftime("%H:%M, %d-%m-%Y") %>

    <!-- Modal -->
    <div id="image-modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal-image">
    </div>
</div>

<div class="text-center">
<%= turbo_frame_tag "like-button-#{@post.id}" do %>
  <% if user_signed_in? %>
    <% if current_user != @post.user %>
      <% like = current_user.likes.find_by(post: @post) %>
      <% if like.nil? %>
        <%= form_with(model: @like, url: post_likes_path(@post), method: :post, local: true, html: { data: { turbo_frame: "like-button-#{@post.id}" } }) do |f| %>
        <%= f.submit "Like", class: "btn btn-primary col-2", id: "like-button-#{@post.id}" %>
        <% end %>
      <% else %>
        <%= form_with(model: @like, url: post_like_path(@post, like), method: :delete, local: true, html: { data: { turbo_frame: "like-button-#{@post.id}" } }) do |f| %>
        <%= f.submit "Unlike", class: "btn btn-primary col-2", id: "like-button-#{@post.id}" %>
        <% end %>
      <% end %>
    <% else %>
      <p>You cannot like your own post.</p>
    <% end %>
  <% end %>
<% end %>

<p id="like-count-<%= @post.id %>"><%= @post.likes.count %> Likes</p>
</div>

</br>
<p> <%= link_to "Back to posts", posts_path %> </p>

<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <div>
      <p> <%= link_to "Edit this post", edit_post_path(@post) %> </p>
      <p> <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-primary col-2" %> </p>
    </div>
  <% end %>
<% end %>


</br>

<h2> Create comment </h2>

<%= render 'comments/form', post: @post, comment: @comment %>

</br>

<h3>All comments</h3>

<% @post.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <% if comment.user == current_user %>
    <% if comment.id.present? %>
      <%= button_to "Delete", post_comment_path(@post, comment), method: :delete %>
    <% end %>
  <% end %>
<% end %>
